div, dl, dt, dd, ul, ol, li, form, fieldset, input, blockquote, th, td, legend {
  margin: 0;
  padding: 0; }

pre, p, blockquote, h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 1em 0; }

h1 {
  font-size: 1.4em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.9em; }

ol, ul {
  margin-left: 2em; }

blockquote {
  border-left: solid 2px #ccc;
  padding: 0 1em;
  margin-left: 0.2em;
  color: #888; }

html, body {
  margin: 0;
  padding: 0; }

button, body, td,
input, textarea {
  font-family: "droid sans", sans-serif;
  font-size: 1em; }

body {
  font-size: 10pt;
  line-height: 1.6;
  background: white;
  color: #333333; }

#all {
  margin: 0 auto;
  width: auto;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "droid sans", sans-serif; }

input, textarea {
  line-height: 1.4; }

textarea {
  resize: vertical; }

a {
  color: #337799;
  text-decoration: none; }

a:visited {
  color: #3882a8; }

a:hover {
  color: #2d6b89;
  text-decoration: underline; }

a img {
  border: 0; }

button {
  cursor: pointer; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  background: #333;
  margin-bottom: 100px; }

.header, .post, .colophon {
  background: #fff;
  width: 930px;
  padding: 10px;
  margin: 0 auto;
  zoom: 1; }
  .header:after, .post:after, .colophon:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    zoom: 1; }

.header {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 100px; }
.header {
  zoom: 1; }
  .header:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    zoom: 1; }
.header h1 {
  text-align: center;
  font-size: 60pt;
  margin: 0;
  line-height: 400px; }
.header h1 {
  font-weight: bold;
  float: left;
  width: 33%; }

.colophon {
  font-size: 9pt; }
  .colophon {
    color: #888;
    background: rgba(0, 0, 0, 0.4);
    padding: 50px;
    width: 850px; }
  .colophon h3, .colophon p {
    margin: 0;
    padding: 0; }
  .colophon h3 {
    color: #eee;
    float: left;
    margin-right: 50px; }
  .colophon p {
    float: left;
    width: 50%;
    padding-top: 2px; }
  .colophon strong {
    font-weight: normal;
    color: #eee; }

.contact {
  font-size: 8pt;
  line-height: 1.4;
  padding-top: 147px; }
.contact {
  zoom: 1;
  float: left;
  width: 66%; }
  .contact:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    zoom: 1; }
.contact dl {
  display: block;
  width: 25%;
  float: left;
  padding: 10px 0; }
.contact dt {
  font-weight: bold; }
.contact a {
  color: #444; }
.contact a:hover {
  text-decoration: none;
  background: #333;
  color: #aaa; }
.contact strong {
  margin-left: 0;
  font-weight: normal;
  color: #777; }

.post {
  margin-top: 10px;
  margin-bottom: 10px; }
.post div, .post p, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  margin: 0;
  padding: 0 0 20px 0; }
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  padding-bottom: 5px;
  line-height: 1.5;
  font-size: 12pt; }
.post div {
  padding-bottom: 0;
  /* Anti-double vgut */ }
.post header {
  padding: 30px 10px 15px 10px; }
.post header h2 {
  font-family: 'droid sans';
  font-size: 24pt;
  text-shadow: 2px 2px 0 #eee;
  margin: 0;
  padding: 0; }
.post header a {
  color: #333; }
.post header a:hover {
  text-decoration: none;
  color: #636984; }
.post .brief {
  font-size: 13pt;
  color: #7c84a6;
  padding-bottom: 15px; }
.post .brief {
  font-family: "droid sans", sans-serif;
  line-height: 1.6; }
.post .caption {
  font-size: 8pt;
  border-top: solid 2px #aaa;
  padding-top: 10px;
  color: #666; }
  .post .caption strong {
    color: #333; }
.post .section, .post section {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd; }
.post .section, .post section {
  position: relative; }
.post .section, .post section {
  zoom: 1;
  clear: both; }
  .post .section:after, .post section:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    zoom: 1; }
.post .section, .post section {
  margin: 0 -10px 20px -10px;
  padding: 20px 10px 0 10px; }
.post .section.alert, .post section.alert {
  background: #fefaf0; }
.post .section.alert, .post section.alert {
  background: #fffff9; }
.post .section.nb, .post section.nb {
  border: 0; }
.post .section + .section, .post .section + section, .post section + .section, .post section + section {
  margin-top: -21px; }

.post .c {
  clear: both; }
.post .pt1 {
  padding-top: 20px; }
.post .pt2 {
  padding-top: 40px; }
.post .pt3 {
  padding-top: 60px; }
.post .c1, .post .c2, .post .c3 {
  margin-left: 10px;
  margin-right: 10px;
  float: left; }
.post .c1 {
  width: 290px; }
.post .c2 {
  width: 600px; }
.post .c3 {
  width: 910px; }
.post .l1 {
  margin-left: 320px; }
.post .l2 {
  margin-left: 610px; }
.post .fl {
  margin-left: -10px; }
.post .fr {
  margin-right: -10px; }
.post .c1.fl, .post .c1.fr {
  width: 310px; }
.post .c2.fl, .post .c2.fr {
  width: 600px; }
.post .flush {
  width: 950px;
  margin-left: -10px;
  margin-right: -10px; }
.post .nov {
  margin-bottom: 0; }
.post .abs {
  position: absolute; }
.post section.flush {
  padding: 0;
  border: 0;
  margin-bottom: 10px; }
.post section.flush p {
  margin: 0;
  padding: 0; }
.post pre {
  background: #e0eaf0;
  color: #333;
  padding: 10px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 20px 0; }
.post pre {
  border: solid 1px #ccc; }
.post pre {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px; }
.post pre {
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
.post pre {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
.post pre {
  font-family: 'droid sans mono', mono;
  font-size: 7.5pt; }

/*
@media screen and (min-width: 660px) and (max-width: 960px) {
  .header, .post { width: 640px; }
  .contact span { display: none; }
  .post { 
    .l1, .l2 { margin-left: 0; }
    .c1, .c2 { width: 50%; }
  }
}

@media screen and (min-width: 1px) and (max-width: 660px) {
  .header, .post { width: 400px; }
  .header h1 { width: 100%; }
  .contact { width: 100%; }
  .post { 
    .l1, .l2 { margin-left: 0; }
    .c1, .c2 { width: 100%; }
  }
} */
.post-2010-10-10 section.flush {
  -moz-box-shadow: 0 4px 4px #eeeeee;
  -webkit-box-shadow: 0 4px 4px #eeeeee;
  -o-box-shadow: 0 4px 4px #eeeeee;
  box-shadow: 0 4px 4px #eeeeee; }
