---
html_class: layout-landing
title_tag: Rico Sta. Cruz
---

{% include head.html %}

  <link href='/assets/landing.css' rel='stylesheet' type='text/css'>

{% include body.html %}

  <div class='content'>
    {{ content }}
    <div class='links'>
      <a href="https://twitter.com/rstacruz">
        <i class='ion-social-twitter-outline'></i>
      </a>
      <a href="https://github.com/rstacruz">
        <i class='ion-social-github-outline'></i>
      </a>
      <a href="http://dribbble.com/rstacruz">
        <i class='ion-social-dribbble-outline'></i>
      </a>
      <a href="http://ph.linkedin.com/in/ricostacruz">
        <i class='ion-social-linkedin'></i>
      </a>
    </div>
    <div class='signature'>
      &mdash; @rstacruz
    </div>

    {% if site.posts %}
      <div class='post-list'>
        {% for post in site.posts %}
          {% if post.secret %}
          {% else %}
            <a href="{{ post.url }}" class='article-item'>
              <strong class='title'>{{ post.title }}</strong>
              <span class='date'>{{ post.date | date_to_string }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

  </div>

{% include end.html %}
