---
html_class: layout-post
---

{% include head.html %}

  <link href='/assets/post.css' rel='stylesheet' type='text/css'>

{% include body.html %}

<div class='blog-header'>
  <div>
    <h1><a href="/">{{ site.meta.name }}</a></h1>
  </div>
</div>

<div class="post-item">
  <div class="post-headline">
    <h1>
      <a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
    {% if page.no_byline %}
    {% else %}
    <h5>
      <span class='author'>{{ site.meta.author }}</span>
      &middot;
      <span class='date'>{{ page.date | date: "%B %e, %Y" }}</span>
    </h5>
    {% endif %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>
</div>

{% include end.html %}
