<div class='about-the-author'>
  <p class='avatar'>
    <img src='/images/avatar.jpg'>
  </p>

  <h3>@rstacruz</h3>
  <p>I'm Rico Sta. Cruz, a web developer. You are reading my blog.
  Thanks for reading.</p>

  <div class='meta'>
    {% if page.next %}
      <div class='column related next'>
        Next article:<br>
        <a href="{{ page.next.url }}">{{ page.next.title }}</a>
      </div>
    {% endif %}
    {% if page.previous %}
      <div class='column related previous'>
        Previously:<br>
        <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      </div>
    {% endif %}
    <div class='column'>
      Follow me on Twitter.<br>
      <a href="">@rstacruz</a>
    </div>
    <div class='column'>
      Thanks for reading.<br>
      <a href="">Search</a>
    </div>
  </div>
</div>
