<!DOCTYPE html>
<html class='no-js {{ page.html_class }}' xmlns:og='http://ogp.me/ns#'>
<head>
  <meta charset='UTF-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta content='Rico Sta Cruz' property='og:title'>
  <meta content='blog' property='og:type'>
  <meta content='RicoStaCruz.com' property='og:site_name'>
  <meta content='169204529787544' property='fb:app_id'>
  <meta content='ricostacruz' property='fb:admins'>
  <link href='/favicon.png' rel='shortcut icon'>
  <script>if(~location.hostname.indexOf("ricostacruz.com")){var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-20473929-1"]);_gaq.push(["_trackPageview"]);(function(){var ga=document.createElement("script");ga.async=true;ga.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga,s)})()}</script>
