/*
 * 3rd party
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css);

/*
 * reset
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}a,dl a{cursor:pointer}

/*
 * antialias
 */

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * base
 */

html, body {
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
  font-family: source sans pro, proxima nova, sans-serif;
  font-weight: 300;
  background: #fff;
  color: #50505a;
  font-size: 19px;
  line-height: 1.6;
}

a {
  color: #222;
  text-decoration: none;
  border-bottom: solid 1px #eee;
  transition: color 250ms linear;
}

a:hover {
  color: #3d8;
  border-bottom: solid 1px #efd;
  transition: color 100ms linear;
}

ul, ol, p {
  margin: 1.5em 0;
}

strong a {
  color: #222;
  font-weight: 400;
}

.layout-landing .content {
  max-width: 22em;
  margin: 90px;
}

.layout-landing .content > :first-child {
  margin-top: 0;
}

/*
 * links
 */

.links {
  margin-top: 60px;
  margin-left: -13px; /* compensation for padding */
}

.links a {
  border: 0;
  margin-right: 20px;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 32px;
  text-align: center;
}

.links i {
  color: #aaa;
  transition: transform 250ms ease, color 250ms linear;
  transform: scale(0.7);
}

.links a:hover i {
  color: #3d8;
  transition: transform 100ms ease;
  transform: scale(1.0);
}

.signature {
  color: #ddd;
  margin-top: 0.5em;
  margin-left: -30px;
  font-size: 1.5em;
}

/*
 * responsive
 */

body,
.content,
.links,
.links a,
.signature,
ul, ol, p {
  transition: all 250ms ease;
}

/* tablet */
@media (max-width: 768px) {
  body { font-size: 16px; line-height: 1.6; }
  .layout-landing .content { margin: 45px auto; }
  .links { text-align: center; margin-top: 40px; }
  .links a { margin-right: 0; }
  .signature { text-align: center; }
  ul, ol, p { margin: 1.35em 0; }
}

/* mobile */
@media (max-width: 468px) {
  body { font-size: 15px; line-height: 1.6; color: #222; }
  a { color: #111; }
  .layout-landing .content { margin: 15px; }
  .links { text-align: center; margin-top: 20px; }
  .links a { margin-right: 0; }
  ul, ol, p { margin: 1.25em 0; }
}

li > strong:first-child {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 10px;
}

/*
 * post
 */

.layout-post body {
  font-size: 22px;
  font-weight: 400;
}

.layout-post p,
.layout-post ul,
.layout-post ol,
.layout-post h2,
.layout-post h3,
.layout-post blockquote,
.layout-post hr {
  margin: 40px auto;
  max-width: 730px;
}

.layout-post hr {
  width: 50px;
  display: block;
}

.layout-post h2 {
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.layout-post h3 {
  font-weight: bold;
  font-size: 1em;
  color: #111;
}

.layout-post h3 + p {
  margin-top: -20px;
}

.layout-post blockquote {
  max-width: 960px;
  font-size: 1.5em;
  text-align: center;
}

.layout-post blockquote > p {
  max-width: 960px;
}
