---
html_class: layout-post
---

{% include head.html %}

  <link href='/assets/post.css' rel='stylesheet' type='text/css'>

{% include body.html %}

<div class='blog-header'>
  <div>
    <h1><a href="/">{{ site.meta.name }}</a></h1>
  </div>
</div>

<div class="post-item">
  <div class="post-headline">
    <h1>
      <a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
    <h5>
      {{ site.meta.author }}
      &middot;
      {{ page.modified | date: "%m/%d/%Y" }}
    </h5>
  </div>

  <div class="post-content">
    {{ content }}
  </div>
</div>

{% include end.html %}
